{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
<div class="fondoBlanco text-center container-fluid">

    <h1 class="">
        Bienvenido {% if messages %}{{messages[0]}}{%endif%}, juguemos un rato!!
    </h1>

    {%endwith%}
    <div class="row gx-3">
        <div class="col-auto" id="table_on-line">
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Usuarios On-line</th>
                </thead>
                <tbody>
                    <tr class="table">
                        <td>Otto</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-auto" id="tabla_tirada">
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">#</th>
                        <th scope="col">Sala abierta</th>
                        <th scope="col">Creador</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% if salas %}
                    {%for sala in salas%}
                    <tr class="table-success">
                        <th scope="row">{{loop.index}}</th>
                        <td>{{sala[0]}}</td>
                        <td>{{sala[1]}}</td>
                        <td><input class="btn btn-success" type="button" value="Join..t :)"></td>
                    </tr>
                    {%endfor%}
                    {%endif%}
                </tbody>
            </table>
            {% if error %}
            <p class="alert alert-danger"><strong>Error:</strong> {{error}} </p>
            {% endif %}
            <form>
                {% if not locked %}
                <div class="row g-3 ">
                    <div class="col-auto">
                        <label for="Sala" class="form-label">Crear Sala</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" class=" col-6 form-control" name="sala" id="id_sala">
                    </div>

                    <div class="col-auto">
                        <button onclick=crear_sala() class="btn btn-outline-primary">Crear</button>
                    </div>
                </div>
                {%endif%}
            </form>
        </div>
    </div>

</div>



{% endblock %}