{% extends "base.html" %}

{% block content %}


<div class="row gx-3">
    <div class="col-auto">
        <div class="card">
            <img maxwidth=80px src="" class="card-img-top" alt="avatar">
            <div class="card-body">
                <h5 class="card-title">Estadisticas</h5>
                {% if stats %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Tienes {{stats[0]}} partidas Jugadas</li>
                    <li class="list-group-item">Tienes {{stats[0]}} partidas Ganadas</li>
                    <li class="list-group-item">Tienes {{stats[0]}} partidas Abandonadas</li>
                </ul>
                {%endif%}
            </div>
        </div>
    </div>
    <div class="col-auto" id="tabla_tirada">
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th scope="col">#</th>
                    <th scope="col">Sala abierta</th>
                    <th scope="col">Creador</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% if salas %}
                {%for sala in salas%}
                <tr class="table-success">
                    <td scope="row">{{loop.index}}</td>
                    <td>{{sala[0]}}</td>
                    <td>{{sala[1]}}</td>
                    <td>
                        <a class="btn btn-success" href="/uniendose/{{sala[0]}}">Join..t :)</a>
                    </td>
                </tr>
                {%endfor%}
                {%endif%}
            </tbody>
        </table>
        {% if error %}
        <p class="alert alert-danger"><strong>Error:</strong> {{error}} </p>
        {% endif %}
        <form>
            {% if not locked %}
            <div class="card">
                <div class="row g-3 card-body ">
                    <h5 class="card-title">Crear Sala</h5>
                    <div class="col-auto">
                        <label for="mynum" class="form-label">Tu Numero</label>

                        <input type="text" class=" col-6 form-control" name="mynum" id="id_mynum">
                    </div>
                    <div class="col-auto">
                        <label for="Sala" class="form-label">Nombre Sala</label>

                        <input type="text" class=" col-6 form-control" name="sala" id="id_sala">
                    </div>
                    <a href="#" onclick=crear_sala() class="btn btn-primary">Crear</a>

                </div>
            </div>
            {%endif%}
        </form>
    </div>
</div>

</div>



{% endblock %}