{% extends "base.html" %}

{% block content %}


<div class="fondoBlanco text-center container-fluid">

    <div class="row gx-3">

        <div class="col-auto" id="tabla_tirada">
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">#</th>
                        <th scope="col">Mi Tirada</th>
                        <th scope="col">Resultado</th>
                    </tr>
                </thead>
                <tbody>
                    {% if tiradas %}
                    {%for tirada in tiradas%}
                    <tr {% if tirada[2]==4.0 %} class="table-success" {% elif tirada[2]==0.4 or tirada[2]> 2.1 %}
                        class="table-danger" {%
                        else %} class="table-warning" {%endif%}>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{tirada[1]}}</td>
                        <td>{{tirada[2]}}</td>
                    </tr>
                    {%endfor%}
                    {%endif%}
                </tbody>
            </table>
            <form>
                <div class="row g-3 ">

                    <div class="col-auto">
                        <input type="text" class=" col-6 form-control" placeholder="Escribe tu tirada" id="id_tirada">
                    </div>

                    <div class="col-auto">
                        <button onclick=enviar_tirada() class="btn btn-outline-primary">Tirar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>



{% endblock %}